[Desktop Entry]
Name=Era
Comment=Set alarms and timers, use a stopwatch, and manage world clocks
TryExec=era
Exec=era
Terminal=false
Type=Application
GenericName=Clock
StartupNotify=true
Icon=era
Categories=Qt;KDE;Utility;
